.row
  .col-md-12
    .progress
      .one{:class => progress_info.one_class}
        %p
          お届け先住所
      .two{:class => progress_info.two_class}
        %p
          配送情報
      .three{:class => progress_info.three_class}
        %p
          ご確認
      .progress-bar{:style => progress_info.progress_width}