.row
  .col-md-12
    .progress
      .one{:class => progress_info.one_class}
        %p
          お届け先住所
      .two{:class => progress_info.two_class}
        %p
          配送情報
      .three{:class => progress_info.three_class}
        %p
          ご確認
      .four{:class => progress_info.four_class}
        %p
          ご購入手続き完了
      .progress-bar{:style => progress_info.progress_width}
-# .row
-#   .col-md-12
-#     .progress
-#       .one{:class => one_class}
-#         %p
-#           お届け先住所
-#       .two{:class => two_class}
-#         %p
-#           配送情報
-#       .three{:class => three_class}
-#         %p
-#           ご確認
-#       .four{:class => four_class}
-#         %p
-#           ご購入手続き完了
-#       .progress-bar{:style => set_width}