レジに進む！
%div.checkout
  %table
    %tbody
      %tr
        %th
          郵便番号
        %td
          テキスト
      %tr
        %th
          住所
        %td
          テキスト
      %tr
        %th
          名前（名字）
        %td
          テキスト
      %tr
        %th
          名前（名字）
        %td
          テキスト
      %tr
        %th
          配送日時
        %td
          カレンダー　          プルダウン
  %table
    %thead
      %tr
        %th{:colspan => 2}
          ご購入額合計
    %tbody
      %tr
        %th
          商品合計金額
        %td
          ほげ
      %tr
        %th
          代引き手数料
        %td
          ほげ
      %tr
        %th
          送料
        %td
          ほげ
      %tr
        %th
          消費税
        %td
          ほげ
      %tr
        %th
          総額
        %td
          ほげ