= render "checkout_progress", set_width: "width: 25%", one_class: "primary-color", two_class: "no-color", three_class: "no-color", four_class: "no-color"          
= simple_form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f|
  .panel.panel-default.flex-col
    .panel-heading
      お届け先住所
    .panel-body
      = render "devise/shared/user_info", f: f     
  = f.submit "次へ", :class => 'btn btn-primary pull-right'
        
            