%h2 
  ショッピングカート
- if @order.order_items.count == 0
  %span
    ショッピングカートは空です。
  %div
    = link_to "お買い物をする", root_path
- else
  = render "order_detail", order: @order, order_items: @order_items, is_cart: true          
  = link_to "レジに進む", user_info_check_out_path, :class => 'btn btn-primary pull-right'
