@charset "utf-8";
$font-stack: "Meiryo UI";
$primary-color: #333;
$menu-color:#7AC843;
$menu-font-color: #fff;
body {
  font: 100% $font-stack;
  color: $primary-color;
  header {
    background: $menu-color;
    color: $menu-font-color;
    nav {
      h1 {
        font-size: 25px;
      }
      ul {
        display: flex;
        li {
          list-style: none;
        }
        li:first-child {
          margin-right: auto;
        }
        a {
          margin: 10px;
          display: block;
          padding: 15px;
          text-decoration: none;
        }
      }
    }
  }
}