
@charset "utf-8";
@import 'bootstrap';

$font-stack: "Meiryo UI";
$primary-color: #151A0A;
$menu-color:#AACF52;
$menu-font-color: #fff;
$border-color: #C8CFBA;
$h1-font-size: 25px;
$base-font-size: 14px;
$order-color: #53CFB6;

.image-area {
  display: flex;
  flex-wrap: wrap;
}

.image-box {
  padding: 10px;
  margin: 5px;
  box-shadow: 5px 6px 6px -3px #e7e7e7;
  -moz-box-shadow: 5px 6px 6px -3px #e7e7e7;
  -webkit-box-shadow: 5px 6px 6px -3px #e7e7e7;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 1px solid #e7e7e7;
}

.add_cart {
  padding-top: 10px;
  input[type="number"] {
    margin-right: 3px;
    width: 60px;
    vertical-align: middle;
    padding: 8px 10px;
  }
  input[type="submit"] {
    background-color: $order-color;
    background-image: none;
    text-shadow: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid $order-color;
    padding: 10px 10px 10px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -khtml-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }
}

.cart {
  margin: 0 10px 0 10px;
  table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    th,td {
      padding: 2px 10px 2px 10px;
      margin: 2px;
    }
    thead {
      background-color: $border-color;
      .product {
        width: 60%; 
      }
    }
    tbody {
      .number {
        text-align: right;
      }
      .product_detail
      {
        width: 50%;
        h4 {
          margin: 2px 0 2px 0;
        }
        span {
          padding-left: 1em;
        }
      }
      .delete {
        text-align: center;
      }
    }
    tfoot {
      background-color: $order-color; 
      color:$menu-font-color; 
      text-align: right;
    }
  }
}

.content {
  display: flex;
  .column {
    padding: 10px;
  }
  .column:nth-child(2) {
    width: 100%;
  }
  .product-title {
    border-bottom: 1px solid $border-color;
    font-size: $h1-font-size; 
  }

  .order-total {
    color: $order-color;
    font-weight: bold;
  }
}


body {
  font-size: $base-font-size !important;
  font: 100% $font-stack;
  color: $primary-color;
  h6 {
    margin-bottom: 0;
  }
  header {
    background: $menu-color;
    color: $menu-font-color !important;
    nav {
      a {
        margin: 10px;
        display: block;
        padding: 15px;
        text-decoration: none;
        color: $menu-font-color !important;
      }
      h1 {
        font-size: $h1-font-size;
        margin: 0;
      }
      ul {
        display: flex;
        padding: 0;
        li {
          list-style: none;
        }
        li:first-child {
          margin-right: auto;
        }
      }
    }
  }
}