
@charset "utf-8";

$font-stack: "Meiryo UI";
$primary-color: #151A0A;
$menu-color:#AACF52;
$menu-font-color: #fff;
$border-color: #C8CFBA;
$h1-font-size: 25px;
$base-font-size: 14px;
$order-color: #53CFB6;

@import 'bootstrap';
@import 'bootstrap-datepicker.min';
@import 'products';
@import 'order_items';
@import 'check_outs';
@import 'accounts';
@import 'admin/products';
@import 'jquery.Jcrop.min';

body {
  font-size: $base-font-size !important;
  font: 100% $font-stack;
  color: $primary-color;
  h6 {
    margin-bottom: 0;
  }
  nav {
    background: $menu-color !important;
    .navbar-nav {
      li.open{
        .dropdown-menu, a {
          background: $menu-color !important;
        }
      }
    }
    a {
      color: $menu-font-color !important;
    }
  }
  [data-link] {
    cursor: pointer;
  }
  nav.pagination {
    margin: 5px 0;
  }
}