.image-area {
  display: flex;
  flex-wrap: wrap;
}

.image-box {
  padding: 10px;
  margin: 5px;
  box-shadow: 5px 6px 6px -3px #e7e7e7;
  -moz-box-shadow: 5px 6px 6px -3px #e7e7e7;
  -webkit-box-shadow: 5px 6px 6px -3px #e7e7e7;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 1px solid #e7e7e7;
}