!!! 5
%html
  %head
    %title さくらマーケット
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div#top
      %header
        %hgroup
          %h1 さくらマーケット
        %nav
          %ul
            %li 
              %a ああああ
            %li 
              %a いいいい
            %li 
              %a ううううう
            %li 
              %a ログアウト
  = yield