%h2 
  アカウント情報
%h3
  ご購入履歴
%div.cart
  - if current_user.is_phurchased_orders.count == 0
    %span
      ご購入履歴はありません
    %div
      = link_to "お買い物をする", root_path
  - else
    %table.table.table-striped
      %thead
        %tr
          %th
            ご購入日時
          %th
            配送日時
          %th 
            ご購入金額合計
      %tbody
        - current_user.is_phurchased_orders.each do |order|
          %tr
            %td
              = order.disp_updated_at
            %td
              = order.disp_delivery_datetime
            %td
              = disp_money(order.total)